#
# Local Git ignores
#

#
# IDEs
#
.cproject
.project
.settings/
.idea/
*.iml

#
# Local environment
#
env

#
# Editor droppings
#
*~
*.bak

#
# Erlang
#
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
